

<div class="tech-btm widget_social">
    <h4>Sosyal Medya</h4>
    <ul>
        <li>
            <a class="bg-dark" href="#">
                <i class="fab fa-instagram"></i>

                <span class="count">5.8M</span> Instagram
            </a>
        </li>
        <li>
            <a class="bg-dark" href="#">
                <i class="fab fa-github"></i>
                <span class="count">120k</span> Github
            </a>
        </li>
        <li>
            <a class="bg-dark" href="#">
                <i class="fab fa-linkedin"></i>
                <span class="count"> 1k </span> LinkedIn
            </a>
        </li>
        <li>
            <a class="bg-dark" href="#">
                <i class="fab fa-youtube"></i>
                <span class="count"> 500K </span> YouTube
            </a>
        </li>

    </ul>
</div>